

/* main styles */
body {
	background:url(http://i.imgur.com/MLQeFMd.jpg) #37505F no-repeat center center fixed;
	background-size: cover;
	font-family: 'Oswald', sans-serif;
}

div.container {
	width:960px;
	margin:0 auto;
	position:absolute;
	top:5%;
	left:50%;
	transform: translateX(-50%);
}

img#logo {
	display:block;
	margin:0 auto;
	max-width:100%;
}



div#buttons {
	
	text-align: center;

}

div#buttons a {
	height: 100px;
    width: 200px;
   
    display:inline-block;
    position:relative;
    font-weight: 700;
    transition: .5s ease-in-out;
    font-size:35px;
    text-transform: uppercase;
    text-shadow: 1px 1px #000;

}

div#buttons a:after {
	position: absolute;
    left: 50%;
    bottom: -17%;
    padding-bottom:6px;
    border-bottom:2px solid;
    transform: translateX(-50%);
}

#buttons{

}

a:hover{
   font-size: 40px;
}


a.home:hover{
  font-size: 40px;
}
a.home:after {
	color: #FFFF98;
	content:'Home';
}
a.home:after:hover{
  font-size: 40px;
}

a.forums:after {
	color: #AAFC6D;
	content:'Forums';
}

a.vote:after {
	color: lime;
	content:'Vote';
}

a.shop:after {
	color: #FF0;
	content:'Shop';
}



/* logo animation */
.animated {
  animation-duration: 10s;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@keyframes swing {
  0% {
    transform: rotate3d(1, 0, 1, 8deg);
  }

  50% {
    transform: rotate3d(1, 0, 1, -2deg);
  }

  to {
    transform: rotate3d(1, 0, 1, 8deg);
  }
}

.swing {
  transform-origin: center center;
  animation-name: swing;
}

/* server status stuff */
#server {
	width: 550px;
  height: 65px;
    margin: 0 auto;
    margin-bottom:10px;
    text-align: center;
    font-weight: 500;
    font-size: 28px;
    color: yellow;
    padding: 1px;
   
    background-image: url(http://i.imgur.com/mqT8fQd.png);
    background-size: length;
    text-transform: uppercase;
   text-shadow:2px 2px 2px black;
    position:relative;
}
#ip {
  width: 309px;
  height: 65px;
    margin: 0 auto;
    
    margin-bottom:20px;
    text-align: center;
    font-weight: 500;
    font-size: 28px;
    color: yellow;
    padding: 1px;
   
    background-image: url(http://i.imgur.com/s4vRGpD.png);
    background-size: length;
    text-transform: uppercase;
   
    position:relative;
    text-shadow:2px 2px 2px black;
}


#server:hover #copy-button, #copy-button:hover {
	opacity: 1;
}

#server p {
	margin: 0;

}
#ip p{
  margin: 0;
  padding-top: 13px;
}

.count {
   background-image: url(http://www.pd4pic.com/images800_/sign-black-icon-symbol-cartoon-signs-symbols.png);
   background-size: inherit;
	font-weight: normal;
    font-size: 36px;
    border-radius: 50%;
    
    color: yellow;
    
    
    padding: 7px 16px;
   
}

